# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

**/.DS_Store

# GEMINI
GEMINI.md

# 개인 작업
/todolist/

# Environment variables
.env

# .terraform/ 디렉터리 (모듈, 플러그인 등)
.terraform/
.terraform.lock.* 
# terraform.tfstate (민감 정보 및 상태)
*.tfstate
*.tfstate.*

# Terraform 변수 파일 (민감 정보 포함 가능성)
# *.tfvars
# *.auto.tfvars #DB민감정보 틀 전달을위한 주석처리 이후 해제 요망