# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

**/.DS_Store

# GEMINI
GEMINI.md

# 개인 작업
/todolist/


# Environment variables
.env

# .terraform/ 디렉터리 (모듈, 플러그인 등)
.terraform/
.terraform.lock.* 
# terraform.tfstate (민감 정보 및 상태)
*.tfstate
*.tfstate.*

#png
/png/

#Personal Statement
/coverLetter/

/ksk_app/
/develop/
