spring:
  application:
    name: customers-service
  boot:
    admin:
      client:
        url: http://petclinic-dev-alb-1211424104.us-west-2.elb.amazonaws.com/admin
        instance:
          service-base-url: http://customers-service:8080
  cloud:
    aws:
      region:
        static: ${AWS_REGION:us-west-2}
      paramstore:
        enabled: true
        prefix: /petclinic
        profile-separator: /
        fail-fast: false
      secretsmanager:
        enabled: true
        prefix: /petclinic
        fail-fast: false
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:mysql,aws}

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: when-authorized

---
spring:
  config:
    activate:
      on-profile: mysql
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.MySQLDialect
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

---
spring:
  config:
    activate:
      on-profile: docker
  cloud:
    aws:
      region:
        static: ${AWS_REGION:us-west-2}
      paramstore:
        enabled: true
        prefix: /petclinic
        profile-separator: /
        fail-fast: false
      secretsmanager:
        enabled: true
        prefix: /petclinic
        fail-fast: false
