spring:
  application:
    name: customers-service
  boot:
    admin:
      client:
        url: http://admin.petclinic.local:9090/admin
        instance:
          # Register internal management URLs (Cloud Map private DNS)
          service-base-url: http://customers.petclinic.local:8080
          management-base-url: http://customers.petclinic.local:8080
          health-url: http://customers.petclinic.local:8080/actuator/health
  cloud:
    aws:
      region:
        static: ${AWS_REGION:us-west-2}
      paramstore:
        enabled: true
        prefix: /petclinic
        profile-separator: /
        fail-fast: false
      secretsmanager:
        enabled: true
        prefix: /petclinic
        fail-fast: false
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:mysql,aws}

management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
  endpoint:
    health:
      show-details: always

---
spring:
  config:
    activate:
      on-profile: mysql
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.MySQLDialect
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
---
spring:
  config:
    activate:
      on-profile: docker
  cloud:
    aws:
      region:
        static: ${AWS_REGION:us-west-2}
      paramstore:
        enabled: true
        prefix: /petclinic
        profile-separator: /
        fail-fast: false
      secretsmanager:
        enabled: true
        prefix: /petclinic
        fail-fast: false
