server:
  port: 9090
  servlet:
    context-path: /admin

spring:
  application:
    name: admin-server
  profiles:
    active: aws

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: when-authorized

spring:
  boot:
    admin:
      ui:
        enabled: true
  thymeleaf:
    check-template-location: false
