server:
  port: 9090

spring:
  application:
    name: admin-server
  profiles:
    active: aws
  boot:
    admin:
      ui:
        enabled: true
        title: "PetClinic Admin"
      client:
        enabled: false  # Admin 서버는 클라이언트가 아님
      discovery:
        enabled: true
        services:
          - customers-service
          - vets-service
          - visits-service
  thymeleaf:
    check-template-location: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: when-authorized
